.mainContainer {
    height: 100%;
    overflow-x: hidden;
    background-color: #474A54;
    //color: #fff;
    h1,h2,h3,h4,h5{
        color: grey;
     
    }
}

body { 
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}
