.filterableTable {
	padding: 20px;
	background-color: beige;
}

.loginComponent {
    margin: auto;
    width: 100%;
	height: 100%;
}

.showDashboard { 
	height: 100%;
}

.hideDashboard { 
	display: none;
}