.nav {
    padding-left: 0;
    padding-right: 0;
}


.bar{
    border-right: 2px solid #373942;
    padding-right: 0; 

}

.center {
    padding-top: 1rem;
    max-width: 100%;
    width: 100%;
    text-align:center;
    text-transform: uppercase;
    padding-bottom: 1rem;

    span{
        color: #fff!important   ;
    }
}

.json{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: none;
    text-align: left;
}

.background{
    height: 100%;
}


.page{
    height: 100%;
    // overflow: hidden;
}