.navbar {
  color: #474A54;
  background-color: white;
  height: 4em;
  width: 100%;
}


.logoutHeader {
  float: right;
  transform: translate(-10%,75%);
  border-left: 1px solid #474A54;
  padding-left: 1em;
  color: #474A54;
}

.profileHeader {
  float: left;
  transform: translate(30%,70%);
}

.maupa {
  float: left;
  transform: translate(0%,10%);
}