.navbar {
  color: #474A54;
  background-color: white;
  height: 4em;
  width: 100%;
}


.logoutHeader {
  float: right;
  transform: translate(-50%,70%);
}

.profileHeader {
  float: left;
  transform: translate(30%,70%);
}