.transaction { 
    background: #3a444d;
    text-align: center;
    padding: 1em;
    height: 100%;

    
}


.tab{
    flex: 1;
    margin-bottom: -2px;
    padding: 0 0 8px;
    border-bottom: 2px solid transparent;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: hsla(0,0%,100%,.4);
    cursor: pointer;
    user-select: none;
    // margin-bottom: 1rem;

    // transition: border-color .2s ease-in-out,color .2s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    // margin-bottom: 1rem;
    border-bottom: 2px solid hsla(206,8%,82%,.15);
    transition: border-color .2s ease-in-out,color .2s ease-in-out;
    // padding-bottom: 1em;
}

.active {
    // margin-bottom: 1rem;
    border-bottom-color: #fff;
    color: #fff;
}

.buyButton {
   margin: auto
}

.transactionInput {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    border: none;
    border:solid 1px #ccc;
    border-radius: 10px;
    background-color: #ccc;
}
