$buy-color: #28a745;
$sell-color: #dc3545;

.transaction { 
    background: #3a444d;
    text-align: center;
    padding: 1em;
    height: auto;
}

.orderTypeButtonList{
    display: flex;
    font-size: 12px;
    font-weight: 700;
    background-color: #404a52;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    list-style: none;
}

.orderTypeButtonBuyActive{
    background-color: $buy-color!important;
    color: #fff!important;
}

.orderTypeButtonSellActive{
    background-color: $sell-color!important;
    color: #fff!important;
}


.sellButton {
    margin: auto;
    color: #fff!important;
    background-color: $sell-color!important;
}

.orderTypeButton{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-left: 3px;
    margin-right: 3px;
    // border-radius: 1px;
    color: hsla(0,0%,100%,.5);
    background-color: hsla(0,0%,100%,.15);
    cursor: pointer;
    user-select: none;
    transition: background-color .2s ease-in-out;
}


.tab{
    flex: 1;
    margin-bottom: -2px;
    padding: 0 0 8px;
    border-bottom: 2px solid transparent;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: hsla(0,0%,100%,.4);
    cursor: pointer;
    user-select: none;
}

.tabList{
    border-bottom: 2px solid hsla(206,8%,82%,.15);
    transition: border-color .2s ease-in-out,color .2s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    // margin-bottom: 1rem;
    // padding-bottom: 1em;
}

.active {
    // margin-bottom: 1rem;
    border-bottom-color: #fff;
    color: #fff;
}

.buyButton {
   margin: auto;
   color: #fff;
   background-color: $buy-color!important;

}

.transactionInput {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    border: none;
    border:solid 1px #ccc;
    border-radius: 10px;
    background-color: #ccc;
}
