.wallet {
   background-color: #29353d;
   text-align: center;
   padding: 1em;
   .title { 
       margin-bottom: 1em;
   }

   .buttonsRow {
        margin-top: 1em;
   }
}

.rightCol {
    text-align: left;
}
 
.leftCol {
    text-align: right;
}

.walletInput {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    border: none;
    border:solid 1px #ccc;
    border-radius: 10px;
    background-color: #ccc;
}
